name: CI/CD Pipeline

on:
  push:

jobs:
  security-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          base: main
          head: HEAD
          extra_args: --debug --only-verified
      
      - name: Build images for scanning
        run: |
          docker build -f Front_Dockerfile -t frontend:latest .
          docker build -f Back_dockerfile -t backend:latest .
      
      - name: Run Trivy vulnerability scanner - Frontend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'frontend:latest'
          format: 'sarif'
          output: 'trivy-frontend-results.sarif'
      
      - name: Run Trivy vulnerability scanner - Backend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'backend:latest'
          format: 'sarif'
          output: 'trivy-backend-results.sarif'

  deploy:
    needs: security-checks
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      
      # - name: Deploy to Coolify
      #   run: |
      #     curl -X POST "${{ https://coolify.niceapp.cloud/onboarding?selectedServerType=&selectedExistingPrivateKey=&privateKeyType=&selectedExistingServer=&selectedProject=&step=select-server-type }}" \
      #       -H "Content-Type: application/json" \
      #       -d '{"branch": "main"}'